* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1 rem;
  font-weight: 400;
  background-color: rgb(230, 230, 230);
}
a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 5px;
}
a:hover {
  border-bottom: 1px solid;
}
ul {
  list-style: none;
}

/*header*/
.header_container {
  display: flex;
  width: 1100px;
  background-color: rgb(238, 238, 238);

}
.header_container_text {
  width: 700px;
  margin: 10px;
}
.header_container_text h1:hover{
    cursor: pointer;
}

.header_container_nav {
  width: max-content;
  position: relative;
  margin: 10px;
}
.header_container_nav ul {
  display: flex;
  margin: 10px;
  
}
.header_container_nav a {
    color: black;
    font-weight: 200;
    font-size:x-small
}

.contact {
    background-color: white;
    padding: 5px ;
}
.contact:hover {
    background-color:black;
    color: white;
    border: none;
}
 /*footer*/
.footer_container {
  margin-top: 20px;
  height: 150px;
  justify-content: center;
  background-color: rgb(238, 238, 238);
  width: 1100px;
    
}
.footer_container_text {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.footer_container_icons{
    display: flex;
    justify-content: center;
}
.footer_container_icons a{
    color: black;
}
.footer_container_icons a:hover{
    color: grey;
    border: none;
}
/*home page body*/
.content_container {
  display: flex;
  width: 1100px;
  margin: 0;
  padding: 0;
}
.myimage {
  width: 400px;
  margin: 10px;
  padding: 10px;

}

.content_contianer_text{
  width: 600px;
  font-size: large;

}
.content_contianer_text p{
  margin: 10px;
  padding: 10px;
  height: max-content;
}
.content_contianer_text h1{
  margin: 10px;
  padding: 10px;
}
.content_contianer_text input{
  text-transform: capitalize;
  margin-left: 10px;
}
.content_contianer_text input:hover{
  background-color: black;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  text-transform: capitalize;
}
.spcl {
  color: green;
}
.spcl1 {
  color: darkgreen;
  text-transform: uppercase;
}
.spcl1:hover{
  cursor: pointer;
}
/*Contacts page*/
.contacts_content {
  margin: 10px 0;
  height: 550px;
  justify-content: center;
}

.contacts_content h2 ,ul ,p{
  padding: 10px;
  margin: 10px;
}
.contacts_list{
  font-size: 1rem;
}
.contacts_list a{
  color: black;
  text-transform: none;
}
/*About page*/
.about_container {
  display: flex;
  width: 1100px;
  white-space: normal;
}
.about_container h3 {
  margin: 10px;
  padding: 10px;
  color: dimgray;
  border-bottom: dimgray 1px solid;
}


.about_container_prof {
  width: 50%;
  margin: 20px;
  padding: 20px;
  justify-content: left;
  background-color: white;
  box-shadow: 0 0 20px 5px gray;
  }
.about_container_per{
  width: 50%;
  margin: 20px;
  padding: 20px;
  justify-content: left;
  background-color: white;
  box-shadow: 0 0 20px 5px gray;

=
}
/*Experience page*/
.exp_container {
  display: flex;
  width: 1100px;
  white-space: normal;
  flex-direction: row;
}
.exp_container h3 {
  margin: 10px;
  padding: 10px;
  color: dimgray;
  border-bottom: dimgray 1px solid;
}

.exp_container_prof {
  width: 50%;
  margin: 20px;
  padding: 20px;
  justify-content: left;
  background-color: white;
  box-shadow: 0 0 20px 5px gray;
}
.exp_container_per {
  width: 50%;
  margin: 20px;
  padding: 20px;
  justify-content: left;
  background-color: white;
  box-shadow: 0 0 20px 5px gray;
}
/*values*/
.val_container {
  width: 1100px;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  
}
.val_containter_cont{
  display: grid;
  width: 300px;
  height: 300px;
  background-color: white;
  padding: 5px;
  margin: 30px;
  box-shadow: 0 0 7px 5px gray;

}
.image{

width: 150px;
height: 150px;
margin-top: 20px;
padding-top: 30px;
justify-self: center;

}
.val_containter_cont h2{
  text-align: center;